div {
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(225, 225, 225, 0.5);
  border: 5px solid rgb(225, 225, 225);
}
div form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
div form input {
  margin: 15px;
  border: 1px solid rgb(225, 225, 225);
  padding: 0.4rem;
}
div form input[placeholder="Name"] {
  margin-left: 110px;
}
div form input[name="id"] {
  width: 50px;
}
div form input[name="name"] {
  width: 150px;
}
div form input[name="email"] {
  width: 250px;
}
div form input[type="submit"] {
  border-radius: 3px;
  background-color: gray;
  color: white;
  cursor: pointer;
  flex: 1;
}
